#use this later: https://expo.dev/blog/how-to-integrate-eas-workflows-with-github-actions

name: Deploy Web to Expo

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Setup Yarn
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Setup Expo
        uses: expo/expo-github-action@v8
        with:
          expo-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
      - name: Export web build
        run: npx expo export --platform web

      - name: Deploy Expo
        run: npx eas deploy
